// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #089BAB;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import bulma styles
@import "~bulma";

// Import buefy styles
@import "~buefy/src/scss/buefy";

// $primary: #7957d5 !default;

@media (min-width : $desktop) {
    .ml-desktop-5 {
        margin-left: 0.5rem;
    }

    .mb-desktop-0 {
        margin-bottom: 0 !important;
    }
}

.navbar-start > .nuxt-link-exact-active {
    background-color: $primary !important;
    color: white !important;
}

.navbar-bottom {
    border-bottom: 2px solid black;
    padding-bottom: 1em;
}

.navbar-end {
    .nuxt-link-exact-active, .nuxt-link-active {
        color: $primary !important;
    }
}

.navbar-shadow {
    z-index: 1000;
    box-shadow: 0px -20px 40px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px -20px 40px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px -20px 40px -1px rgba(0,0,0,1);
}
